.apple-inline-1{--split:50%}
.apple-inline-2{--c:linear-gradient(145deg,#263b52,#835661);--game-art:url(assets/game-1091500.jpg)}
.apple-inline-3{--c:linear-gradient(145deg,#17191d,#535763);--game-art:url(assets/game-2358720.jpg)}
.apple-inline-4{--c:linear-gradient(145deg,#374a57,#9f8b6b);--game-art:url(assets/game-990080.jpg)}
.apple-inline-5{--c:linear-gradient(145deg,#0e1c2f,#365586);--game-art:url(assets/game-1716740.jpg)}
.apple-inline-6{--c:linear-gradient(145deg,#3d2e28,#78695d);--game-art:url(assets/game-2050650.jpg)}
.apple-inline-7{--c:linear-gradient(145deg,#222a37,#68707c);--game-art:url(assets/game-1551360.jpg)}
.apple-inline-8{--c:linear-gradient(145deg,#2a303a,#675047);--game-art:url(assets/game-1245620.jpg)}
.apple-inline-9{--c:linear-gradient(145deg,#1d2633,#456180);--game-art:url(assets/game-2246340.jpg)}
.apple-inline-10{background:conic-gradient(from 30deg,#61d9ff,#5675ff,#b8ff35,#61d9ff)}